<%- include('../partials/header') %>
<hr>
<main>
    <h2>Tytuł: </h2>
    <b><%= post.title %></b>
    <h2>Opis: </h2>
    <b><%= post.description %></b>
    <h2>Typ posta: </h2>
    <b><%= post.postType %></b>


</main>

     
<%- include('../partials/footer')%>  